In [2]:
import pandas as pd

In [3]:
data = pd.read_json('data/log-course2.json')

In [5]:
data.head()

,accept_language,agent,context,event,event_source,event_type,host,ip,name,page,referer,session,time,username
0,"es-ES,es;q=0.9",Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"{'course_user_tags': {}, 'user_id': '', 'org_i...","{""POST"": {}, ""GET"": {}}",server,/courses/course-v1:UTPL+SARH5+2019_1/about,opencampus.utpl.edu.ec,77.111.247.82,NaN,None,,NaN,2019-04-01T04:28:26.189835+00:00,
1,"es-ES,es;q=0.9",Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,"{'course_user_tags': {}, 'user_id': '', 'org_i...","{""POST"": {}, ""GET"": {}}",server,/courses/course-v1:UTPL+SARH5+2019_1/,opencampus.utpl.edu.ec,77.111.247.82,NaN,None,,NaN,2019-04-01T04:28:27.321273+00:00,
2,"es-ES,es;q=0.8,en-US;q=0.5,en;q=0.3",Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:6...,"{'course_user_tags': {}, 'user_id': '', 'org_i...","{""POST"": {}, ""GET"": {}}",server,/courses/course-v1:UTPL+SARH5+2019_1/about,opencampus.utpl.edu.ec,157.100.56.84,NaN,None,,NaN,2019-04-01T04:36:10.029097+00:00,
3,"es-ES,es;q=0.8,en-US;q=0.5,en;q=0.3",Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:6...,"{'user_id': '', 'org_id': '', 'course_id': '',...","{""POST"": {}, ""GET"": {}}",server,/i18n.js,opencampus.utpl.edu.ec,157.100.56.84,NaN,None,http://opencampus.utpl.edu.ec/courses/course-v...,NaN,2019-04-01T04:36:10.637890+00:00,
4,"es-ES,es;q=0.8,en-US;q=0.5,en;q=0.3",Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:6...,"{'user_id': '', 'org_id': '', 'course_id': '',...","{""POST"": {""course_id"": [""course-v1:UTPL+SARH5+...",server,/change_enrollment,opencampus.utpl.edu.ec,157.100.56.84,NaN,None,http://opencampus.utpl.edu.ec/courses/course-v...,NaN,2019-04-01T04:38:47.135982+00:00,

In [6]:
data.shape

(51261, 14)

In [7]:
data.keys()

Index(['accept_language', 'agent', 'context', 'event', 'event_source',
       'event_type', 'host', 'ip', 'name', 'page', 'referer', 'session',
       'time', 'username'],
      dtype='object')

In [8]:
data['username']

0
1
2
3
4
5
6
7           danieltapia00
8           danieltapia00
9
10
11
12
13
14
15
16
17
18       JocelyneCastillo
19       JocelyneCastillo
20       JocelyneCastillo
21
22
23
24
25
26
27
28       JocelyneCastillo
29       JocelyneCastillo
               ...
51231          KAELIZALDE
51232          KAELIZALDE
51233          KAELIZALDE
51234          KAELIZALDE
51235          KAELIZALDE
51236          KAELIZALDE
51237         AndreaTobar
51238         AndreaTobar
51239         AndreaTobar
51240         AndreaTobar
51241         AndreaTobar
51242         AndreaTobar
51243         AndreaTobar
51244         AndreaTobar
51245         AndreaTobar
51246         AndreaTobar
51247            jpperez5
51248            jpperez5
51249            jpperez5
51250            jpperez5
51251            jpperez5
51252            jpperez5
51253         AndreaTobar
51254         AndreaTobar
51255         AndreaTobar
51256         AndreaTobar
51257         AndreaTobar
51258         AndreaTobar
51259        PabloAchanci
51260        PabloAchanci
Name: username, Length: 51261, dtype: object

In [9]:
data['username'].unique()

array(['', 'danieltapia00', 'JocelyneCastillo', ..., 'esbravo3',
       'dmandrade1', 'KAELIZALDE'], dtype=object)